{% load static %}
{% include "header.html" %}
<head>
    <style>
        .heading{
            font-family: Arial, sans-serif;
            color:#2222f5;
            text-align: center;
        }
        .info{
            font-family: Arial, sans-serif;
            font-size: 30px;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            
        }
        .footer{
            padding-top:20rem;
        }
    </style>

</head>
<body>
    <div class="heading">
        <h1>About us</h1>
    </div>
    <div class="info">
        <h5><p>Welcome to our YouTube Video Downloader! We are dedicated to providing you with a simple and efficient way to download your 
            favorite YouTube videos for offline viewing. Our platform allows you to quickly and easily save videos from YouTube in various
             formats and qualities, so you can enjoy them anytime, anywhere.
            <br>
            <p>At YouTube Video Downloader, we understand the importance of flexibility and convenience. Our user-friendly interface makes 
            it easy for you to enter the URL of the YouTube video you want to download and choose the desired format and quality.
            <br>
            <p>Thank you for choosing our YouTube Video Downloader. Start exploring and downloading your favorite YouTube videos now!
            </h5>
    </div>
</body>
<div class="footer">{% include "footer.html" %}</div>
